# Build results
bin/
obj/
out/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# Rider
.idea/

# OS junk
.DS_Store
Thumbs.db

# ASP.NET
project.lock.json
project.fragment.lock.json
artifacts/

# Logs
*.log

# Other
.env
*.db
*.sqlite

# Dotnet Tools
**/.tools/
